﻿body {
    background-color: #3c3b3b;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.mootable-image {
    margin-top: 20%;
    margin-bottom: 20%;
    justify-content: left;
    max-height: 150px;
    max-width: 150px;
}

form {
    background: #333;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
    width: 300px;
    height: 400px;
}

    form input {
        border: none;
        background: #333;
        text-align: center;
        outline: none;
        padding: 10px;
        margin: 4%;
        color: white;
        height: 30px;
        width: 70%;
        transition: 0.4s linear;
    }

        form input[type="email"], form input[type="password"] {
            border: 2px solid #4ADEDE;
        }

        form input[type="submit"] {
            border: 2px solid #4ADEDE;
            height: 40px;
            width: 30%;
            cursor: pointer;
            color: #4ADEDE;
            margin: 1%;
        }

        form input[type="email"]:focus, form input[type="password"]:focus {
            width: 80%;
        }

        form input[type="submit"]:hover {
            background-color: #4ADEDE;
            color: antiquewhite;
            width: 50%;
        }

.rememberme {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

    .rememberme label {
        color: #4ADEDE;
        font-size: 12px;
        /*        vertical-align: middle;*/
        width: auto;
    }

    .rememberme input[type="checkbox"] {
        color: #4ADEDE;
        /*        vertical-align: middle;*/
        width: 5%;
    }

.validation-text-message {
    font-size: 10px;
    color: #4ADEDE;
}
