@*====================POSITION=====================*@
@using PersonnelManagement.Entities.Concrete
@using PersonnelManagement.Entities.DTOs;
@using PersonnelManagement.Mvc
@using PersonnelManagement.Mvc.Models
@model dynamic
@{
}
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Your page title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>var $ = jQuery.noConflict(false);</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>

</head>

<body>


    <div id="container" style="position: relative;">
        <button id ="addNewButton" onclick="onClickNewAdd()">Add New</button>
        <input type="text" id="mySearchBox"  placeholder="Arama..." class="searchBar" style="position: absolute; top: 0; margin-left: 630px;">

        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div id = "addModal" class="modal" style="display:none">
        <div class="modal-content">
            @Html.Partial("_AddPositionPartial")
        </div>
    </div>

    <div id = "editModal" class="modal" style="display:none">
        <div class="modal-content">
            @Html.Partial("_UpdatePositionPartial")
        </div>
    </div>

    <script  type="text/javascript">

        var currentId = 0;

        var grid = $("#jqGrid");

        function onNeedReload(){
                debugger;
                grid.setGridParam({ datatype: 'json' });
                debugger;
                var pageCount = grid.getGridParam("lastpage");
                for (let i = 0; i < pageCount; i++) {
                        grid.trigger("reloadGrid", [{page: i, current: true}]);
                }


        }


        $("#jqGrid").jqGrid({
                url: '/Position/GetPositions',
                mtype: "POST",
                datatype: "json",
                colnames: ["PositionId", "PositionName", "DepartmentName"],
                colModel: [
                    { label: 'Id', name: 'PositionId', key:true,  width: 15, search:false },
                    { label: 'Position', name: 'PositionName', width: 75, sorttype: function(cell, obj) {return turkishToLower(cell);} },
                    { label: 'Department', name: 'DepartmentName', width: 75, sorttype: function(cell, obj) {return turkishToLower(cell);} },
                    {
                        name: 'Settings',
                        index: 'Settings',
                        width: 100,
                        align: 'center',
                        sortable: false,
                        formatter: function(cellvalue, options, rowObject) {
                            return '<button class="edit_btn" >Edit</button>&nbsp;&nbsp;&nbsp;' + 
                                    '<button href="#" class="del_btn" >Delete</button>';
                        }
                    }

                ],
                loadonce: true,
                navOptions:{reloadGridOptions:{fromServer:true}},
                multiSort: true,
                multiSelect: true,
                viewrecords: true,
                search: true,
                width: 900,
                height: 250,
                rowNum: 50,
                pager: "#jqGridPager",

        });

        $("#mySearchBox").keyup(function () {
            var rules = [], i, cm,
            postData = grid.jqGrid("getGridParam", "postData"),
            colModel = grid.jqGrid("getGridParam", "colModel"),
            searchText = $("#mySearchBox").val(),
            l = colModel.length;

            for (i = 0; i < l; i++) {
                cm = colModel[i];
                    if (cm.search !== false && (typeof cm.stype === "undefined" || cm.stype === "text")) {
                        rules.push({
                        field: cm.name,
                        op: "cn",
                        data: searchText
                    });
                }
            }

            $.extend (postData, {
                filters: {
                    groupOp: "OR",
                    rules: rules
                }
            });

            grid.jqGrid("setGridParam", { search: true, postData: postData });
            grid.trigger("reloadGrid", [{page: 1, current: true}]);
            return false;
        });

        $(document).on('click', '.edit_btn', function () {

            var row = $(this).closest('tr.jqgrow');
            var rowId = row.attr('id');
            var rowPos = row.find('td:eq(1)').text();
            var rowDep = row.find('td:eq(2)').text();
            var myModel = @Html.Raw(Json.Serialize(Model));
            debugger;
            currentId = rowId;
            var modifiedByName = "mvcDefault" //şimdilik

            document.getElementById("inputtedPosition2").value = rowPos;

            var DepDropdown = document.getElementById("deplist2");
                for (var i = 0; i < DepDropdown.options.length; i++) {
                    if (DepDropdown.options[i].text === rowDep) {
                        DepDropdown.selectedIndex = i;
                        var selectedDepartment = rowDep;
                        var options = "";

                $('#poslist2').html(options)
                        break;
                    }
                }


            $.ajax({
                url: "/Position",
                type: "GET",
                success: function (result) {
                $("#editModal.modal-content").html(result);
                document.getElementById("editModal").style.display = "block";
                }
            });

        });

        $(document).on('click', '.del_btn', function () {
                debugger;
                var row = $(this).closest('tr.jqgrow');
                var rowId = row.attr('id');
                debugger;

                var modifiedByName = "mvcDefault" //şimdilik

                var choosedPosition = {
                    PositionId: rowId,
                    ModifiedByName: modifiedByName,
                };

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {

                        $.ajax({
                            type: "POST",
                            url: "/Position/DeletePositions",
                            data: choosedPosition,
                            success: function(data) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your choose has been deleted.',
                                    'success'
                                )
                                onNeedReload();
                            },
                            error: function(error) {
                                Swal.fire(
                                    'Error!',
                                    'Deleting failed.',
                                    'error'
                                )
                            }
                        });



                    }
                })
                debugger;
        });

        $(document).ready(function() {

            var myModel = @Html.Raw(Json.Serialize(Model));
            var reloadNeed = true;
            onNeedReload()

            onClickNewAdd = function() {
                debugger;
                console.log("clicked")
                    $.ajax({
                            url: "/Position",
                            type: "GET",
                            success: function (result) {
                            $("#addModal.modal-content").html(result);
                            document.getElementById("addModal").style.display = "block";
                            debugger;
                            }
                    });
            }

            onClickSave = function(){
                var selectedDepartment = $('#deplist option:selected').text()
                var inputtedPosition = $('#inputtedPosition').val()
                debugger;
                        var positionData = {
                            SelectedDepartment: selectedDepartment,
                            NewPosition: inputtedPosition,
                        }
                    debugger;
                    $.ajax({
                        type: "POST",
                        url: "/Position/AddPositions",//hatırla
                        data: positionData,
                        success: function(data) {

                            document.getElementById("myModal").style.display = "none";
                        },
                        error: function(error) {
                        console.log(error);
                        }
                    });
                    onNeedReload();
            }

            onClickUpdate = function(event){
                event.preventDefault();
                var modifiedByName = "mvcDefault"
                var selectedDepartment = $('#deplist2 option:selected').text()
                var inputtedPosition = $('#inputtedPosition2').val()
                debugger;
                        var positionData = {
                            PositionId: currentId,
                            SelectedDepartment: selectedDepartment,
                            NewPosition: inputtedPosition,
                            modifiedByName: modifiedByName
                        }

                debugger;
                        document.getElementById("editModal").style.display = "none";
                debugger;

                Swal.fire({
                    title: 'Are you sure about that?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, update it!'
                }).then((result) => {
                    if (result.isConfirmed){
                        $.ajax({
                            type: "POST",
                            url: "/Position/UpdatePositions",
                            data: positionData,
                            success: function(data) {
                                Swal.fire(
                                    'Updated!',
                                    'Your choose has been deleted.',
                                    'success'
                                )
                                onNeedReload();
                            },
                            error: function(error) {
                                Swal.fire(
                                    'Error!',
                                    'Deleting failed.',
                                    'error'
                                )
                            }
                        });
                    }
                });
            }

            
        });

        function turkishToLower(str) {
            return str.replace(/Ğ/g, 'g').replace(/Ü/g, 'u').replace(/Ş/g, 's').replace(/İ/g, 'i').replace(/I/g, 'i').toLocaleLowerCase('tr');
        }

    </script>
</body>

</html>